body > .container {
    margin-top: 50px;
    color: #111;
}

.jms-translation-anchor {
    padding-top: 50px;
    margin-top: -50px;
}

div.container table tbody tr td ul {
    margin-bottom: 2px;
    font-size: 10px;
}

div.container table tbody tr td ul li {
    line-height: 13px;
}

td pre {
    margin-bottom: 5px;
    padding: 3px 5px;
}

tr.unused td pre {
  background: yellow;
  color: maroon;
}

tr.unused td.key {
  background: yellow;
}

tr.untranslated td.textarea {
  background: red;
}

div.container {
    width: 1220px;
}

