body > .container {
	margin-top: 50px;
}

.jms-translation-anchor {
	padding-top: 50px;
	margin-top: -50px;
}

div.container table tbody tr td ul {
    margin-bottom: 5px;
}

td pre {
  margin-bottom: 5px;
}

body > div.containter {
  width: 1220px;
}