body > .container {
    margin-top: 50px;
    color: #111;
}

.jms-translation-anchor {
    padding-top: 50px;
    margin-top: -50px;
}

div.container table tbody tr td ul {
    margin-bottom: 5px;
}

td pre {
    margin-bottom: 5px;
    padding: 3px 5px;
}

td pre.unused {
  background: none;
  color: #666;
}

div.container {
    width: 1220px;
}